{% set titre = 'Réservation de jeu au FOG' %}
{% set salutation %}
    Bonjour {{ reservation.getAuthor().getPseudo() }}
{% endset %}
{% set first_paragraph %}
    Tu souhaites emprunter des jeux au FOG du {{ reservation.getFormatedDateBeg() }} au {{ reservation.getFormatedDateEnd() }}.
{%  endset %}
{%  set second_paragraph %}
    <p style="font-size: 14px; line-height: 1.5; text-align: center; font-family: lucida sans unicode, lucida grande, sans-serif; word-break: break-word; mso-line-height-alt: 21px; margin: 0;">Liste des jeux empruntés :</p>
    <ul>
        {% for g in reservation.getBoardGames() %}
            <li>
                {{ g.getName() }} ({{ g.getYear() }}{% if g.getPrice() != null %}, {{ g.getPrice() | number_format(2, ',', ' ') }} €{% endif %})
                {% if ((g.getMissing() != null) or (g.getExcess() != null) or (g.getNote() != null)) %}
                    <ul>
                        {% if g.getMissing() != null %}
                            <li>Pièces manquantes : {{ g.getMissing() }}</li>
                        {% endif %}
                        {% if g.getExcess() != null %}
                            <li>Pièces en trop : {{ g.getExcess() }}</li>
                        {% endif %}
                        {% if g.getNote() != null %}
                            <li>Note : {{ g.getNote() }}</li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <p style="font-size: 14px; line-height: 1.5; text-align: center; font-family: lucida sans unicode, lucida grande, sans-serif; word-break: break-word; mso-line-height-alt: 21px; margin: 0;">Note : {{ reservation.getNote() }}</p>
{% endset %}
{% set third_paragraph %}
    Le bureau va bientôt te contacter pour confirmer ta réservation et décider d'un rendez-vous. Lors du retrait de jeu munis-toi d'un chèque de caution par jeux au montant indiqué : 
    {% for g in reservation.getBoardGames() %}
            <li>
                {% if g.getPrice() != null %}
                    {% if g.getPrice() < 10 %}
                        10.00€
                    {% else %}
                        {{ (g.getPrice() - (g.getPrice() % 10)) | number_format(2, ',', ' ') }}€
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
{% endset %}
{% include 'oeilglauque/emails/reservationEmailBase.html.twig' %}