<div class="row gameShard">
    <div class="col-lg-12">
        <div class="well">

{% if game.getFreeSeats() > 1 %}
{% set accord = 's' %}
{% else %}
{% set accord = '' %}
{% endif %}

            <a href="{{ path('showGame', {'id':game.getId()}) }}"><h2 class="redandblack">{{ game.getTitle() }}</h2></a>
            <p class="small">Proposé par {{ game.getAuthor().getPseudo() }}<br />
            Créneau : <span class="slot">{{ game.getGameSlot().getText() }}</span></p>
            <p>{{ game.getDescription()|truncate(500, true)|striptags('<br>,<em>,<b>,<u>,<h3>')|raw }}</p>
            <br />
            {% if game.getFreeSeats() > 0 %}

                {% if app.user in game.getPlayers() %}
                    <p>Vous êtes inscrit à cette partie !</p>
                {% else %}
                    <p>{{ game.getFreeSeats() }} place{{accord}} disponible{{accord}}</p>
                {% endif %}

            {% else %}
                <p>Malheureusement, il n'y a plus de place disponible en ligne...
                {% if game.getForceOnlineSeats() == false %}
                Mais vous pourrez encore vous inscrire à l'accueil du festival !
                {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
</div><br />