<div class="gameShard ghid_{{ game.getGameSlot().getId() }}" data="{{ game.getId() }},{{ game.getGameSlot().getId() }},{{ game.getTags() }},{{ game.getFreeSeats() }},{{ game.getTitle() }}">
    <div class="game" onclick="location.href='{{ path('showGame', {'id':game.getId()}) }}';">
        <div class="game-desc">

    {% if game.getFreeSeats() > 1 %}
    {% set accord = 's' %}
    {% else %}
    {% set accord = '' %}
    {% endif %}

            <h2 class="redandblack">{{ game.getTitle() }}</h2>
            <div class="info-section">
                <div class="game-infos">
                    <p class="small">Proposé par {{ game.getAuthor().getPseudo() }}</p>
                    <p>Créneau : <span class="slot">{{ game.getGameSlot().getText() }}</span></p>
                </div>
                {% for tag in game.getTagsList() %}
                    <div class="game-infos"><p>{{ tag }}</p></div>
                {% endfor %}
            </div>
            <div class="description">
                {{ game.getDescription()|striptags('<br>,<em>,<b>,<u>,<h3>,<a>')|raw }}
            </div>
            <br />
            {% if game.getFreeSeats() > 0 %}

                {% if app.user in game.getPlayers() %}
                    <p>Vous êtes inscrit à cette partie !</p>
                {% else %}
                    <p>{{ game.getFreeSeats() }} place{{accord}} disponible{{accord}} en ligne</p>
                {% endif %}

            {% else %}
                <p>Malheureusement, il n'y a plus de place disponible en ligne...
                {% if game.getForceOnlineSeats() == false %}
                Mais vous pourrez encore vous inscrire à l'accueil du festival !
                {% endif %}
                </p>
            {% endif %}
            <br />
            {% if game.getTw() %}
                <p id="tw">⚠️ {{ game.getTw() }}</p>
            {% endif %}
        </div>
        {% if game.getImage() %}
            <div class="game-img">
                <img style="margin-bottom: 1rem; width: 100%;" src={{ game.getImage() }} />
            </div>
        {% endif %}
    </div>
</div>
