<div class="well">
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-danger btn-sm" href="{{ path('editNews', {'slug': slug}) }}">Éditer <span class="glyphicon glyphicon-pencil" /></a>
    <a class="btn btn-danger btn-sm" href="{{ path('deleteNews', {'slug': slug}) }}">Supprimer</a>
    {% endif %}
    <a href="/news/{{ slug }}"><h2 class="redandblack">{{ title }}</h2></a>
    <p>{{ text|striptags('<br>,<em>,<b>,<u>,<h3>')|raw }}</p>
</div>