{% extends 'base.html.twig' %}

{% block customcss %}
    <link rel="stylesheet" href="/css/admin.css"/>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/scrolledHeader.js') }}"></script>
{% endblock %}

{% block mainPage %}
    <section class="landing_page"></section>
{% endblock %}

{% block body %}

    <h1 class="titre">Administration</h1>

    <h2> Éditions </h2>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ path('admin_editions') }}" class="btn btn-lg btn-block btn-admin">Gestion des éditions</a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ path('newEdition') }}" class="btn btn-lg btn-block btn-admin">Nouvelle édition</a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ path('adminFeature') }}" class="btn btn-lg btn-block btn-admin">Fonctionnalités du site</a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ path('app_poster_index') }}" class="btn btn-lg btn-block btn-admin">Affiches</a>
        </div>
    </div>

    <h2> Parties </h2>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ path('adminGamesList') }}" class="btn btn-lg btn-block btn-admin">Gestion des parties</a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ path('unvalidatedGamesList') }}" class="btn btn-lg btn-block btn-admin">Validation parties</a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ path('printGames') }}" class="btn btn-lg btn-block btn-admin">Imprimer les parties</a>
        </div>
    </div>

    <h2> Réservations </h2>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ path('localReservationList') }}" class="btn btn-lg btn-block btn-admin">Réservations du local</a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ path('boardGameReservationList') }}" class="btn btn-lg btn-block btn-admin">Réservations de jeux</a>
        </div>
    </div>

    <h2> Planning </h2>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ path('app_event_index') }}" class="btn btn-lg btn-block btn-admin">Gestion du planning</a>
        </div>
    </div>

    <h2> Email </h2>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ path('oauth') }}" class="btn btn-lg btn-block btn-admin">Autorisation Gmail</a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ path('testEmail') }}" class="btn btn-lg btn-block btn-admin">Test email</a>
        </div>
    </div>

    {% if newsState %}
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 d-flex justify-content-center">
                <a href="{{ path('writeNews') }}" class="btn btn-lg btn-block btn-admin">Publier une news</a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <a href="{{ path('newsIndex') }}" class="btn btn-lg btn-block btn-admin">Éditer une news</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
