{% extends 'base.html.twig' %}

{% block scripts %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.select2multiple').select2();
        });
    </script>
{% endblock %}

{% block body %}

        <h1 class="titre small">Réservations de jeux</h1>
        <p>
        Bienvenue sur cette page intrépide aventurier ! Ici nous vous proposons de venir emprunter des jeux dans notre Ludothèque.
        <br />
        La réponse vous sera envoyée via l'adresse e-mail renseignée sur votre compte.
        </p>

    {{ form(form) }}

    <h2>Liste des jeux</h2>
    <table>
        <tr>
            <!--<th scope="col">id</th>-->
            <th scope="col">Nom</th>
            <!--
            <th scope="col">Année</th>
            <th scope="col">Prix</th>
            -->
            <th scope="col">Manquant</th>
            <th scope="col">Surplus</th>
            <th scope="col">Note</th>
        </tr>
        {% for g in boardGames %}
            <tr>
                <!--<td>{{ g.getId() }}</td>-->
                <td>{{ g.getName() }}</td>
                <!--
                <td>{{ g.getYear() }}</td>
                <td>{% if g.getPrice() != null %}{{ g.getPrice() | number_format(2, ',', ' ') }} € {% endif %}</td>
                -->
                <td>{{ g.getMissing() }}</td>
                <td>{{ g.getExcess() }}</td>
                <td>{{ g.getNote() }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <p>N'hésitez pas à <a href="{{ path('contact') }}">nous contacter</a> en cas de doute !</p>


{% endblock %}
