{% extends 'base.html.twig' %}

{% block body %}

        <h1>Réservations de jeux</h1>
        <p>La réponse vous sera envoyée via l'adress e-mail renseignée sur votre compte.</p>

    {{ form(form) }}

    <h2>Liste des jeux (affichage temporaire)</h2>
    <table>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nom</th>
            <th scope="col">Année</th>
            <th scope="col">Prix</th>
            <th scope="col">Manquant</th>
            <th scope="col">Surplus</th>
            <th scope="col">Note</th>
        </tr>
        {% for g in boardGames %}
            <tr>
                <td>{{ g.id }}</td>
                <td>{{ g.name }}</td>
                <td>{{ g.year }}</td>
                <td>{% if g.price != null %}{{ g.price | number_format(2, ',', ' ') }} € {% endif %}</td>
                <td>{{ g.missing }}</td>
                <td>{{ g.excess }}</td>
                <td>{{ g.note }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <p>N'hésitez pas à <a href="{{ path('contact') }}">nous contacter</a> en cas de doute !</p>


{% endblock %}
