{% extends 'base.html.twig' %}

{% block customcss %}
    <link rel="stylesheet" href="/css/reservation.css?v=1.1"/>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
{% endblock %}

{% block body %}

    <h1 class="titre small" id="transparent">Réservations de jeux</h1>

    {% if state %}

        <section id="reservation-content">
            <p id="desc">
                Bienvenue sur cette page intrépide aventurier ! Ici nous vous proposons de venir emprunter des jeux dans notre Ludothèque.
                <br />
                La réponse vous sera envoyée via l'adresse e-mail renseignée sur votre compte. <span style="color: red">Il faudra fournir des chèques de caution lors du retrait des jeux.</span>
            </p>

            <div class="form" id="reservation">
                {{ form_start(form)  }}

                {{ form_row(form.dateBeg) }}

                {{ form_row(form.dateEnd) }}

                {{ form_row(form.boardGames) }}

                {{ form_row(form.note) }}

                <p id="price-container">
                    Prix de la caution: <span id="total-price">0</span> €
                </p>

                {{ form_row(form.save) }}

                {{ form_end(form) }}
            </div>
        </section>

        <script src="{{ asset('js/selectBoardGames.js') }}"></script>
        <script src="{{ asset('js/scrolledHeader.js') }}"></script>


        <h2>Liste des jeux</h2>
        <table class="reservation">
            <tr>
                <!--<th scope="col">id</th>-->
                <th scope="col">Nom</th>
                <!--
                <th scope="col">Année</th>
                <th scope="col">Prix</th>
                <th scope="col">Manquant</th>
                <th scope="col">Surplus</th>
                <th scope="col">Note</th>
                -->
            </tr>
            {% for g in boardGames %}
                <tr>
                    <!--<td>{{ g.getId() }}</td>-->
                    <td>{{ g.getName() }}</td>
                    <td>{% if g.getPrice() != null %}{{ g.getPrice() | number_format(2, ',', ' ') }} € {% endif %}</td>
                    <td>{{ g.getState() != null ? g.getState() ~ ' état' : 'Etat inconnu' }}</td>

                    <!--
                    <td>{{ g.getYear() }}</td>

                    <td>{{ g.getMissing() }}</td>
                    <td>{{ g.getExcess() }}</td>
                    <td>{{ g.getNote() }}</td>
                    -->
                </tr>
            {% endfor %}
        </table>

        <br>
        <p>N'hésitez pas à <a href="{{ path('contact') }}">nous contacter</a> en cas de doute !</p>
    {% else %}
        <p>Les réservations de jeux sont temporairement désactivées 😕</p>
    {% endif %}
{% endblock %}
