{% extends 'base.html.twig' %}

{% block customcss %}
    <link rel="stylesheet" href="/css/reservation.css?v=1.1"/>
{% endblock %}

{% block scripts %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#board_game_reservation_boardGames').select2({ width: 'resolve' });
        });
    </script>
{% endblock %}

{% block body %}

    <h1 class="titre small">Réservations de jeux</h1>

    {% if state %}
        <p>
        Bienvenue sur cette page intrépide aventurier ! Ici nous vous proposons de venir emprunter des jeux dans notre Ludothèque.
        <br />
        La réponse vous sera envoyée via l'adresse e-mail renseignée sur votre compte. Il faudra fournir des chèques de caution lors du retrait des jeux.
        </p>

        <div class="form">
            {{ form_start(form)  }}

                {{ form_row(form.dateBeg) }}

                {{ form_row(form.dateEnd) }}

                {{ form_label(form.boardGames) }}

                <div class="row">
                        {% for checkbox in form.boardGames.children %}
                            <div class="styled-input-single">
                                {{ form_widget(checkbox) }}
                                {{ form_label(checkbox) }}
                                {{ form_errors(checkbox) }}
                            </div>
                        {% endfor %}
                </div>

                {{ form_row(form.note) }}

                <p id="game-list"></p>
                <div id="price-container">
                    Prix de la caution: <span id="total-price">0</span> €
                </div>

                {{ form_row(form.save) }}

            {{ form_end(form) }}
        </div>

        <script src="{{ asset('js/selectBoardGames.js') }}"></script>

        <h2>Liste des jeux</h2>
        <table class="reservation">
            <tr>
                <!--<th scope="col">id</th>-->
                <th scope="col">Nom</th>
                <!--
                <th scope="col">Année</th>
                <th scope="col">Prix</th>
                <th scope="col">Manquant</th>
                <th scope="col">Surplus</th>
                <th scope="col">Note</th>
                -->
            </tr>
            {% for g in boardGames %}
                <tr>
                    <!--<td>{{ g.getId() }}</td>-->
                    <td>{{ g.getName() }}</td>
                    <td>{% if g.getPrice() != null %}{{ g.getPrice() | number_format(2, ',', ' ') }} € {% endif %}</td>
                    <td>{{ g.getState() != null ? g.getState() ~ ' état' : 'Etat inconnu' }}</td>

                    <!--
                    <td>{{ g.getYear() }}</td>

                    <td>{{ g.getMissing() }}</td>
                    <td>{{ g.getExcess() }}</td>
                    <td>{{ g.getNote() }}</td>
                    -->
                </tr>
            {% endfor %}
        </table>

        <br>
        <p>N'hésitez pas à <a href="{{ path('contact') }}">nous contacter</a> en cas de doute !</p>
    {% else %}
        <p>Les réservations de jeux sont temporairement désactivées 😕</p>
    {% endif %}

{% endblock %}
