{% extends 'base.html.twig' %}

{% block body %}

        <h1>Liste des parties</h1>
        {% if hasRegistered %}
            <b>Parties jouées cette année :</b><br />
            <ul>
            {% for g in userGames %}
            <li><a href="{{ path('showGame', {'id': g.getId()}) }}">{{ g.getTitle }}</a> ({{ g.getGameSlot().getText() }})</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if isMJ %}
            <b>Parties organisées cette année :</b><br />
            <ul>
            {% for g in userProposedGames %}
            <li><a href="{{ path('showGame', {'id': g.getId()}) }}">{{ g.getTitle }}</a> ({{ g.getGameSlot().getText() }})</li>
            {% endfor %}
            </ul>
        {% endif %}

        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="filtre"></div><br /><br />

        {% for g in games %}
            {{ include('oeilglauque/shards/game.html.twig', 
                        {
                            'game': g
                        }) }}
        {% else %}
        <div class="row">
            <div class="col-lg-12">
                <p>Il n'y a pas encore de partie cette année... Revenez bientôt !</p>
            </div>
        </div>
        {% endfor %}

{% endblock %}

{% block scripts %}
<script src="/js/selectGames.js"></script>
{% endblock %}
