{% extends 'base.html.twig' %}

{% block body %}

        {% if error %}
            <div class="text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="row">
            <form action="{{ path('login') }}" method="post" class="well col-lg-8">
                <div class="row">
                    <label class="col-lg-4" for="username">Pseudo :</label>
                    <input class="col-lg-8" type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>
                <div class="row">
                    <label class="col-lg-4" for="password">Mot de passe :</label>
                    <input class="col-lg-8" type="password" id="password" name="_password" />
                </div>
                    {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}
                    <button type="submit">login</button>
                <p><a href="{{ path('register') }}">Créer un compte</a></p>
                <p><a href="{{ path('forgotPwd') }}">Mot de passe oublié ?</a></p>
            </form>
        </div>

{% endblock %}