{% extends 'base.html.twig' %}

{% block customcss %}
    <link rel="stylesheet" href="/css/pwd.css"/>
{% endblock %}

{% block mainPage %}
    <section class="landing_page"></section>
{% endblock %}

{% block body %}
    <h2 class="title">Bienvenue sur le site de l'oeil glauque</h2>
   <div class="login_container">
       <img src="img/index_XX.webp" alt="Le Festival de l'Oeil Glauque"/>

       <div class="login_form">
           {% if error %}
               <div class="alert alert-danger alert-dismissible fade show">
                   {{ error.messageKey|trans(error.messageData, 'security') }}
                   <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                   </button>
               </div>
           {% endif %}

           <div class="pwd">
               <h2>Connexion</h2>
               <form action="{{ path('login') }}" method="post">
                   <div class="row">
                       <label for="_username">Pseudo</label>
                       <input class="col-lg-7" type="text" id="username" name="_username" value="{{ last_username }}"
                       />
                   </div>
                   <div class="row">
                       <label for="_password">Mot de passe</label>
                       <input class="col-lg-7" type="password" id="password" name="_password" maxlength="64"/>
                   </div>

                   <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                   <button class="btn" type="submit">Connexion</button>
               </form>
               <a  href="/forgotpwd">Mot de passe oublié ?</a>
               <p>Pas encore de compte ? <a href="{{ path('register') }}">S'inscrire</a></p>
           </div>
       </div>
   </div>

    {% block scripts %}
        <script src="{{ asset('js/scrolledHeader.js') }}"></script>
        <script src='/js/filterGames.js'></script>
    {% endblock %}
{% endblock %}
