<!doctype html>

<html style="width: 100%">
    <meta charset="utf-8">

    <body style="width: 100%;">
        <div style="display: flex; justify-content: center; width: 100%;">
            <h1>{{ game.title }}</h1>
        </div>
            <div style="margin: 0 0.5rem">
                <h3>Description :</h3>
                <div style="padding: 0 1rem">
                {{ game.description }}
                </div>
            </div>

            <div>
                <h3>Crénau :</h3>
                <div style="padding: 0 1rem">
                    {{ game.getGameSlot().getText() }}
                </div>
            </div>

            <div style="margin: 0 1rem">
                <h3>Joueurs ({{ game.getSeats() }} places) :</h3>
                <ul>
                {% for player in game.getPlayers() %}
                    <li>{{ player.getPseudo }}</li>
                {% endfor %}
                </ul>
            </div>
    </body>
</html>