{% extends 'base.html.twig' %}

{% block body %}

<!--
<meta property="og:title" content="Partie JDR : %name%">
<meta property="og:site_name" content="Oeil Glauque">
<meta property="og:url" content="https://oeilglauque.fr/partie/yolo">
<meta property="og:description" content="%description%">
<meta property="og:type" content="article">
<meta property="og:image" content="https://oeilglauque.fr/img/logo.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@oeilglauque">
<meta name="twitter:description" content="%description%">
<meta name="twitter:title" content="Partie JDR : %name%">
<meta name="twitter:image" content="https://oeilglauque.fr/img/logo.png">
-->

{% if game.getFreeSeats() > 1 %}
{% set accord = 's' %}
{% else %}
{% set accord = '' %}
{% endif %}
{% if game.getOfflineSeats() > 1 %}
{% set accordOffline = 's' %}
{% else %}
{% set accordOffline = '' %}
{% endif %}

        <h1 class="titre">{{ game.getTitle() }}</h1>
        {% if not game.getValidated() %}
        <div class="alert alert-danger" role="alert">
        Attention ! Cette partie n'a pas encore été validée par notre équipe, et n'est donc pas encore publiée. Les joueurs ne peuvent pas encore s'y inscrire. 
        </div>
        {% endif %}
        <p>Proposé par {{ game.getAuthor().getPseudo() }}<br />
        Créneau : {{ game.getGameSlot().getText() }}<br />
        Tags : {{ game.listTags() }}</p>
        <hr />
        <p>{{ game.getDescription()|striptags('<br>,<em>,<b>,<u>,<h3>,<a>')|raw }}</p>
        <hr />
        <b>Participants : </b>
        {% for player in game.getPlayers() %}
        <span>
            {{ player.getPseudo() }}
            {% if is_granted('ROLE_ADMIN') %}({{ player.getEmail() }}){% endif %}{% if not loop.last %},{% endif %}
        </span>
        {% else %}
        Il n'y a pas encore de joueur inscrit à cette partie. 
        {% endfor %}
        <br /><br />
        {% if game.getFreeSeats() > 0 %}
            {# Il reste des places #}
            {% if not registered %}
                {% if game.getLocked() %}
                    <p>Les inscriptions en ligne sont fermées pour cette partie mais il est encore possible de s'inscrire à l'accueil !</p>
                {% else %}
                    <p>Il reste encore {{ game.getFreeSeats() }} place{{accord}} disponible{{accord}} en ligne. 
                    {% if game.getForceOnlineSeats() == false %}
                    Il y aura également {{ game.getOfflineSeats() }} place{{accordOffline}} disponible{{accordOffline}} directement à l'accueil du festival. Soyez rapide pour vous y inscrire !
                    {% endif %}
                {% endif %}
                </p><br /><br />
            {% endif %}
            {% if game.getValidated() and game.getAuthor() != app.user %}
                {% if registered %}
                <a href="{{ path('unregisterGame', {'id': game.getId()}) }}" class="btn">Me désinscrire de cette partie</a>
                {% else %}
                    {% if not game.getLocked() %}
                        <a href="{{ path('registerGame', {'id': game.getId()}) }}" class="btn">M'inscrire à cette partie</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {# plus de place #}
            {% if game.getValidated() and game.getAuthor() != app.user %}
                {% if registered %}
                <br /><a href="{{ path('unregisterGame', {'id': game.getId()}) }}" class="btn">Me désinscrire de cette partie</a>
                {% else %}
                <p>Malheureusement, il n'y a plus de place disponible...
                    {% if game.getForceOnlineSeats() == false %}
                    Mais vous pourrez encore vous inscrire à l'accueil du festival !
                    {% endif %}
                </p>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if game.getAuthor() == app.user or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('editGame', {'id': game.getId()}) }}" class="btn ms-3 btn-info">Éditer cette partie</a>
        {% endif %}
        <br /><br />
        <a href="{{ path('listeParties') }}">Retour à la liste des parties</a>

{% endblock %}
