{% extends 'base.html.twig' %}

{% block customcss %}
    <link rel="stylesheet" href="/css/gameDetails.css"/>
{% endblock %}

{% block mainPage %}
    <section class="landing_page"></section>
{% endblock %}

{% block body %}
<script src="{{ asset('js/scrolledHeader.js') }}"></script>

<!--
<meta property="og:title" content="Partie JDR : %name%">
<meta property="og:site_name" content="Oeil Glauque">
<meta property="og:url" content="https://oeilglauque.fr/partie/yolo">
<meta property="og:description" content="%description%">
<meta property="og:type" content="article">
<meta property="og:image" content="https://oeilglauque.fr/img/logo.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@oeilglauque">
<meta name="twitter:description" content="%description%">
<meta name="twitter:title" content="Partie JDR : %name%">
<meta name="twitter:image" content="https://oeilglauque.fr/img/logo.png">
-->

{% if game.getFreeSeats() > 1 %}
{% set accord = 's' %}
{% else %}
{% set accord = '' %}
{% endif %}
{% if game.getOfflineSeats() > 1 %}
{% set accordOffline = 's' %}
{% else %}
{% set accordOffline = '' %}
{% endif %}

        <h2 class="titre">{{ game.getTitle() }}</h2>
        {% if not game.getValidated() %}
        <div class="alert alert-danger" role="alert">
        Attention ! Cette partie n'a pas encore été validée par notre équipe, et n'est donc pas encore publiée. Les joueurs ne peuvent pas encore s'y inscrire. 
        </div>
        {% endif %}

        <section class="game-section">
            <div class="infos-games">
                <p>Proposé par {{ game.getAuthor().getPseudo() }}</p>
                <p>Créneau : {{ game.getGameSlot().getText() }}</p>
                <p>Tags:</p>
                <ul>
                    {% for tag in game.getTagsList() %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
                {% if game.getTw() %}
                    <p id="tw">⚠️ {{ game.getTw() }}</p>
                {% endif %}
            </div>

            <div class="game-desc">
                <h2 style="text-align: center">Description:</h2>
                <p>{{ game.getDescription()|striptags('<br>,<em>,<b>,<u>,<h3>,<a>')|raw }}</p>
            </div>
        </section>

        <b>Participants : </b>
        {% for player in game.getPlayers() %}
        <span>
            {{ player.getPseudo() }}
            {% if game.getAuthor() == app.user or is_granted('ROLE_ADMIN') %}({{ player.getEmail() }}){% endif %}{% if not loop.last %},{% endif %}
        </span>
        {% else %}
        Il n'y a pas encore de joueur inscrit à cette partie. 
        {% endfor %}
        <br /><br />
        {% if game.getFreeSeats() > 0 %}
            {# Il reste des places #}
            {% if not registered %}
                {% if game.getLocked() %}
                    <p>Les inscriptions en ligne sont fermées... Mais il est encore possible de s'inscrire à l'accueil !</p>
                {% else %}
                    <p>Il reste <strong>{{ game.getFreeSeats() }} place{{accord}}</strong> disponible{{accord}} en ligne.
                    {% if game.getForceOnlineSeats() == false %}
                    <br />Il y aura également <strong>{{ game.getOfflineSeats() }} place{{accordOffline}}</strong> disponible{{accordOffline}} à l'accueil du festival.
                    {% endif %}
                {% endif %}
                </p><br /><br />
            {% endif %}
            <div class="game-btn">
            {% if game.getValidated() and game.getAuthor() != app.user %}
                {% if registered %}
                    <a href="{{ path('unregisterGame', {'id': game.getId()}) }}" class="btn">Me désinscrire de cette partie</a>
                {% else %}
                    {% if not game.getLocked() %}
                        <a href="{{ path('registerGame', {'id': game.getId()}) }}" class="btn">M'inscrire à cette partie</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            <div class="game-btn">
            {# plus de place #}
            {% if game.getValidated() and game.getAuthor() != app.user %}
                {% if registered %}
                <br /><a href="{{ path('unregisterGame', {'id': game.getId()}) }}" class="btn">Me désinscrire de cette partie</a>
                {% else %}
                <p>Malheureusement, il n'y a plus de place disponible...
                    {% if game.getForceOnlineSeats() == false %}
                    Mais vous pourrez encore vous inscrire à l'accueil du festival !
                    {% endif %}
                </p>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if game.getAuthor() == app.user or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('editGame', {'id': game.getId()}) }}" class="btn ms-3 btn-info">Éditer cette partie</a>
        {% endif %}
        </div>
        <br /><br />
        <a href="{{ path('listeParties') }}">Retour à la liste des parties</a>

{% endblock %}
