{% extends 'base.html.twig' %}

{% block body %}

{% if game.getFreeSeats() > 1 %}
{% set accord = 's' %}
{% else %}
{% set accord = '' %}
{% endif %}
{% if game.getOfflineSeats() > 1 %}
{% set accordOffline = 's' %}
{% else %}
{% set accordOffline = '' %}
{% endif %}

        <h1>{{ game.getTitle() }}</h1>
        <p>Proposé par {{ game.getAuthor().getPseudo() }}<br />
        Créneau : {{ game.getGameSlot().getText() }}</p>
        <hr />
        <p>{{ game.getDescription()|striptags('<br>')|raw }}</p>
        <hr />
        {% for player in game.getPlayers() %}
        {{ player.getPseudo() }}
        {% else %}
        Il n'y a pas encore de joueur inscrit à cette partie. 
        {% endfor %}
        {% if game.getFreeSeats() > 0 %}
        <p>
            Il reste encore {{ game.getFreeSeats() }} place{{accord}} disponible{{accord}}. 
            {% if game.getForceOnlineSeats() == false %}
            Il y aura également {{ game.getOfflineSeats() }} place{{accordOffline}} disponible{{accordOffline}} directement à l'accueil du festival. Soyez rapide pour vous y inscrire !
            {% endif %}
            <br />
            {% if registered %}
            <br /><a href="{{ path('unregisterGame', {'id': game.getId()}) }}" class="btn btn-warning">Me désinscrire de cette partie</a>
            {% else %}
            <br /><a href="{{ path('registerGame', {'id': game.getId()}) }}" class="btn btn-success">M'inscrire à cette partie</a>
            {% endif %}
        </p>
        {% else %}
        {# plus de place #}
            {% if registered %}
            <br /><a href="{{ path('unregisterGame', {'id': game.getId()}) }}" class="btn btn-warning">Me désinscrire de cette partie</a>
            {% else %}
            <p>Malheureusement, il n'y a plus de place disponible...
                {% if game.getForceOnlineSeats() == false %}
                Mais vous pourrez encore vous inscrire à l'accueil du festival !
                {% endif %}
            </p>
            {% endif %}
        {% endif %}

{% endblock %}