{% extends 'base.html.twig' %}

{% block body %}

{% if game.getFreeSeats() > 1 %}
{% set accord = 's' %}
{% else %}
{% set accord = '' %}
{% endif %}
{% if game.getOfflineSeats() > 1 %}
{% set accordOffline = 's' %}
{% else %}
{% set accordOffline = '' %}
{% endif %}

        <h1>{{ game.getTitle() }}</h1>
        {% if not game.getValidated() %}
        <div class="alert alert-danger" role="alert">
        Attention ! Cette partie n'a pas encore été validée par notre équipe, et n'est donc pas encore publiée. Les joueurs ne peuvent pas encore s'y inscrire. 
        </div>
        {% endif %}
        <p>Proposé par {{ game.getAuthor().getPseudo() }}<br />
        Créneau : {{ game.getGameSlot().getText() }}</p>
        <hr />
        <p>{{ game.getDescription()|striptags('<br>,<em>,<b>,<u>,<h3>')|raw }}</p>
        <hr />
        <b>Participants : </b>
        {% for player in game.getPlayers() %}
        <span class="badge badge-pill badge-light">
            {{ player.getPseudo() }}&nbsp;
            {% if (game.getAuthor() == app.user) or is_granted('ROLE_ADMIN') %}
                ({{ player.getEmail() }})
            {% endif %}
        </span>
        {% else %}
        Il n'y a pas encore de joueur inscrit à cette partie. 
        {% endfor %}
        <br />
        {% if game.getFreeSeats() > 0 %}
            <p>Il reste encore {{ game.getFreeSeats() }} place{{accord}} disponible{{accord}}. 
            {% if game.getForceOnlineSeats() == false %}
            Il y aura également {{ game.getOfflineSeats() }} place{{accordOffline}} disponible{{accordOffline}} directement à l'accueil du festival. Soyez rapide pour vous y inscrire !
            {% endif %}
            <br /><br />
            {% if game.getValidated() and game.getAuthor() != app.user %}
                {% if registered %}
                <a href="{{ path('unregisterGame', {'id': game.getId()}) }}" class="btn btn-warning">Me désinscrire de cette partie</a>
                {% else %}
                <a href="{{ path('registerGame', {'id': game.getId()}) }}" class="btn btn-success">M'inscrire à cette partie</a>
                {% endif %}
            {% endif %}
            </p>
        {% else %}
            {# plus de place #}
            {% if game.getValidated() and game.getAuthor() != app.user %}
                {% if registered %}
                <br /><a href="{{ path('unregisterGame', {'id': game.getId()}) }}" class="btn btn-warning">Me désinscrire de cette partie</a>
                {% else %}
                <p>Malheureusement, il n'y a plus de place disponible...
                    {% if game.getForceOnlineSeats() == false %}
                    Mais vous pourrez encore vous inscrire à l'accueil du festival !
                    {% endif %}
                </p>
                {% endif %}
            {% endif %}
        {% endif %}
        <br /><br />
        {% if game.getAuthor() == app.user %}
        <a href="{{ path('editGame', {'id': game.getId()}) }}" class="btn btn-info">Éditer cette partie</a><br /><br />
        {% endif %}
        <a href="{{ path('listeParties') }}">Retour à la liste des parties</a>

{% endblock %}