{% extends 'base.html.twig' %}

{% block customcss %}
    <link rel="stylesheet" href="/css/admin.css"/>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/scrolledHeader.js') }}"></script>
{% endblock %}

{% block mainPage %}
    <section class="landing_page"></section>
{% endblock %}

{% block body %}

    <h1>Fonctionnalitées</h1>

    <div class="alert alert-warning" role="alert">
        Attention, désactiver certaines fonctionnalités empêche l'accès à certaines pages du site !
    </div>

    <ul>
        {% for f in features %}
            <li>
                <div class="form-check form-switch">
                    {% set link = path('updateFeatureState', {'id': f.getId(), 'state': f.getState() ? '0' : '1'}) %}
                    <input 
                        name={{'feat' ~ f.getId()}} 
                        class="form-check-input" 
                        type="checkbox" 
                        id="flexSwitchCheckChecked" {{f.getState() ? 'checked' : ''}}
                        onclick="window.location.pathname = '{{link}}'"
                    >
                    <label for={{'feat' ~ f.getId()}} class="form-check-label" for="flexSwitchCheckChecked">{{f.getName()}}</label>
                </div>
            </li>    
        {% endfor %}
    </ul>

    <br /><p><a href="{{ path('admin') }}">Retour à l'interface d'administration</a></p>

{% endblock %}
