{% extends 'base.html.twig' %}

{% block body %}

    <h1>Demandes de réservation du local</h1>

    {% for r in reservations %}
        <div class="well">
            <p>Demande par {{ r.getAuthor().getPseudo() }} ({{ r.getAuthor().getFirstName() }} {{ r.getAuthor().getName() }}, {{ r.getAuthor().getEmail() }})</p>
            <p>Début : {{ r.getFormatedDate() }}</p> <!-- .format("D j M Y à H:i") -->
            <p>Durée : {{ r.getFormatedDuration() }}</p>
            <p> Motif : {{ r.getMotif() }}</p>
            <hr />
            {% if not archive %}
                {% if not r.getValidated() %}
                    <a href="{{ path('validateLocalReservation', {'id': r.getId()}) }}" onclick="return confirm('Voulez-vous vraiment valider la réservation ?')" class="btn btn-success">Valider cette réservation</a>
                {% else %}
                    <button class="btn" disabled>Réservation validée</button>
                {% endif %}
            {% endif %}
            <a href="{{ path('deleteLocalReservation', {'id': r.getId()}) }}" onclick="return confirm('Voulez-vous vraiment supprimer la réservation ?')" class="btn btn-danger">Supprimer cette réservation</a>
        </div><br />
    {% else %}
        <div class="row">
            <p>Aucune demande de réservation du local. </p>
        </div>
    {% endfor %}

    {% if archive %}
        <br />
        <p>
            <a href="{{ path('localReservationList') }}">Retour aux réservations actuelles</a>
        </p>
    {% else %}
        <br />
        <p>
            <a href="{{ path('localReservationArchive') }}">Archives (réservations passées)</a>
        </p>
    {% endif %}
        <br />
        <p>
            <a href="{{ path('admin') }}">Retour à l'interface d'administration</a>
        </p>


{% endblock %}