{% extends 'base.html.twig' %}

{% block body %}

        <h1>Validation des parties en attente</h1>
        {% for g in games %}
            <div class="well">
                <h3>{{ g.getTitle() }}</h3>
                <p>Proposé par {{ g.getAuthor().getPseudo() }} ({{ g.getAuthor().getFirstName() }} {{ g.getAuthor().getName() }}, {{ g.getAuthor().getEmail() }})</p>
                <p>Slot : {{ g.getGameSlot().getText() }}</p>
                <p>{{ g.getDescription()|striptags('<br>')|raw }}</p>
                <hr />
                <p>{{ g.getSeats() }} places, forcer toutes les réservations en ligne : {% if g.getForceOnlineSeats() %}oui{% else %}non{% endif %}</p>
                <a href="{{ path('validateGame', {'id': g.getId()}) }}" class="btn btn-success">Valider cette partie</a>
                <a href="{{ path('deleteGame', {'id': g.getId()}) }}" onclick="return confirm('Voulez-vous vraiment supprimer la partie {{ g.getTitle() }} ?')" class="btn btn-danger">Supprimer cette partie</a>
            </div><br />
        {% else %}
            <div class="row">
                <p>Aucune partie en attente de validation. </p>
            </div>
        {% endfor %}
        <br /><p><a href="{{ path('admin') }}">Retour à l'interface d'administration</a></p>

{% endblock %}