{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Planning ({{ edition.annee }})</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Titre</th>
                <th>Couleur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.beginAt ? event.beginAt|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.endAt ? event.endAt|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.color }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">afficher</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun event pour le moment !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Nouvel event</a>
    <a href="{{ path('planning') }}">Planning</a>
{% endblock %}
