<p>
Bonjour {{ reservation.getAuthor().getPseudo() }} !
</p>

<p>
Nous vous confirmons votre réservation du {{ reservation.getDate().format("D j M Y") }} à {{ reservation.getTime().format("H:m") }} (durée : {{ reservation.getDuration() }}  minutes)
</p>

<p>
Pour rappel, le motif était :
{{ reservation.getMotif() }}
</p>

<p>Foguement</p>