<p>
Nouvelle demande de réservation du local par {{ reservation.getAuthor().getFirstName() }} {{ reservation.getAuthor().getName() }} ({{ reservation.getAuthor().getPseudo() }}).
Email : <a href="mailto:{{ reservation.getAuthor().getEmail() }}">{{ reservation.getAuthor().getEmail() }}</a>
</p>

<p>
Le {{ reservation.getDate().format("D j M Y") }} à {{ reservation.getTime().format("H:m") }} pendant {{ reservation.getDuration() }}  minutes
</p>

<p>
Motif :
{{ reservation.getMotif() }}
</p>