<!doctype html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/menu.css" />
        {% block customcss %}{% endblock %}

        <title>Oeil Glauque</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#da532c">
    </head>
    <body>

        <nav class="menu">
            <div class="menu-toggle" onclick="document.querySelector('nav.menu').classList.toggle('visible')">&times;</div>
            <section class="menu-category">
                <h1 id="festival">Festival</h1>
                <ul>
                    <li><a href="/informationsFestival">Informations</a></li>
                    <li><a href="/parties">Liste des parties</a></li>
                    <li><a href="/nouvellePartie">Proposer une partie</a></li>
                    <li><a href="/photos">Photos</a></li>
                </ul>
            </section>
            <section class="menu-category">
                <h1><a href="/informationsClub">Le club</a></h1>
            </section>
            <section class="menu-category">
                <h1><a href="/reservations/boardGame">Réservations de jeux</a></h1>
            </section>
            <section class="menu-category">
                <h1><a href="/reservations/local">Réservations du local</a></h1>
            </section>
            <section class="menu-category">
                <h1><a href="/contact">Contact</a></h1>
            </section>
        </nav>

        <header>
            <div id="menu-toggle" onclick="document.querySelector('nav.menu').classList.toggle('visible')"></div>
            <h1><a href="/">Festival de l'Oeil Glauque</a></h1>
            <div id="date">Du 18 au 20 octobre</div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {# Link to user control panel : {{ app.user.username }} #}
            <div id="login">
                <a href="{{ path('ucp') }}" class="ucp">{{ app.user.username }}</a> |
                <a href="/logout">Déconnexion</a>
            </div>
            {% else %}
            <div id="login">
                <a href="/register">Inscription</a>|
                <a href="/login">Connexion</a>
            </div>
            {% endif %}
        </header>

        <main role="main" class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ label }} fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                        <span aria-hidden="true" class="black">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        </main>

        <footer>
            <p class="copyright">Copyright &copy; Oeil Glauque 2020 - Festival de l'&OElig;il Glauque de l'Amicale des &Eacute;lèves de l'INSA Rennes</p>
            <p>
                Développé avec amour par l'équipe web : Aypristyle, Bobby, Elnath, Jeanne, Lugrim, Sighy et Termina<br/>
                Artworks : Catnip et <a href="https://fr.freepik.com/">Freepik</a> <br/>
            </p>
        </footer>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
