{% set titre = 'Réservation de jeu au FOG' %}
{% set salutation %}
    Bonjour, une réservation par {{ reservation.getAuthor().getPseudo() }} ({{ reservation.getAuthor().getName() }} {{ reservation.getAuthor().getFirstName() }}) a été faite.
{% endset %}
{% set first_paragraph %}
    La demande d'emprunt est du {{ reservation.getDateBeg().format("d/m/Y") }} au {{ reservation.getDateEnd().format("d/m/Y") }}.
{%  endset %}
{%  set second_paragraph %}
    <p style="font-size: 14px; line-height: 1.5; text-align: center; font-family: lucida sans unicode, lucida grande, sans-serif; word-break: break-word; mso-line-height-alt: 21px; margin: 0;">Liste des jeux empruntés :</p>
    <ul>
        {% for g in reservation.getBoardGames() %}
            <li>
                {{ g.getName() }} ({{ g.getYear() }}{% if g.getPrice() != null %}, {{ g.getPrice() | number_format(2, ',', ' ') }} €{% endif %})
                {% if ((g.getMissing() != null) or (g.getExcess() != null) or (g.getNote() != null)) %}
                    <ul>
                        {% if g.getMissing() != null %}
                            <li>Pièces manquantes : {{ g.getMissing() }}</li>
                        {% endif %}
                        {% if g.getExcess() != null %}
                            <li>Pièces en trop : {{ g.getExcess() }}</li>
                        {% endif %}
                        {% if g.getNote() != null %}
                            <li>Note : {{ g.getNote() }}</li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <p style="font-size: 14px; line-height: 1.5; text-align: center; font-family: lucida sans unicode, lucida grande, sans-serif; word-break: break-word; mso-line-height-alt: 21px; margin: 0;">Note : {{ reservation.getNote() }}</p>
{% endset %}
{% set third_paragraph %}
    Il vous faut donc maintenant confirmer que les jeux sont empruntables en utilisant le lien suivant:
    <a href="{{ url('boardGameReservationList') }}">Liste des demandes de réservation de jeu</a>.

    Une fois cela fait, la personne ayant commandé sera prévenue par mail.
{% endset %}
{% include 'oeilglauque/emails/reservationEmailBase.html.twig' %}
